# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.*

# Build Output
dist/
build/

# Coverage
coverage/

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Temporary Files
tmp/
temp/

# Cache
.cache/
npm-cache/

# Runtime Data
pids/
*.pid
*.seed
*.pid.lock